* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    --bg-color: #7bf;
    --chat-bg-color:#fff;
    --dark-color: #48e;
    background-color: var(--bg-color);
    height: 200dvh;
}

body, div, ul, li, a, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

header {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
}

.text-container {
    min-height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    font-size: 10rem;
    color: #444;
    font-weight: 700;
    mix-blend-mode: darken;
}

.left-text {
    color: #f95
}

img {
    filter: grayscale();
    mix-blend-mode: screen;
    position: fixed;
    top: 0;
    animation: aparecer both;
    animation-timeline: scroll();
    max-height: 100dvh;
}

@keyframes aparecer {
    0%{
        opacity: 0;
        box-shadow: 0 0 15px #0001;
        filter: grayscale();
        translate: 0 -20%;
        scale: .8;

    }   
    
    100% {
        opacity: 1;
        box-shadow: 0 0 15px #0009;
        filter: grayscale();
        translate: 0 0;
        scale: 1;
    }
}