* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    --bg-color: #7bf;
    --text-color:#333;
    --dark-color: #48e;
    background-color: var(--bg-color);
    height: 200dvh;
}

body, div, ul, li, a, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#0005, #0004), url("fondo.gif");
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: center;
    /* También existe lighten, darken, saturation, exclusion, etc. */
    mix-blend-mode: difference;
}

.text-container {
    min-height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    font-size: clamp(1rem, 9vw, 12rem);
    color: #444;
    font-weight: 600;
    mix-blend-mode: darken;
    justify-content: space-between;
    color: var(--text-color);
    width: 100%;
    align-items: center;
    padding: 2vw;
    animation: aparecer-texto both;
    animation-timeline: scroll();
    animation-range-start: cover 20%;
}

.left-text {
    color: var(--dark-color);
    padding-left: 4vw;
    mix-blend-mode: screen;
}

.left-text {
    filter: drop-shadow(0 0 1px var(--dark-color))
    drop-shadow(0 0 9px var(--dark-color));
}

.right-text {
    font-weight: 900;
}

img {
    filter: grayscale();
    mix-blend-mode: darken;
    position: fixed;
    top: 0;
    animation: aparecer both;
    animation-timeline: scroll();
    max-height: 100dvh;
}

@keyframes aparecer {
    0%{
        opacity: 0;
        filter: grayscale();
        translate: 0 20%;
        scale: .7;

    }   
    
    100% {
        opacity: 1;
        filter: grayscale();
        translate: 0 0;
        scale: 1;
    }
}

@keyframes aparecer-texto {
    0%{
        opacity: 0;
        translate: 0 20%;
        scale: 2;

    }   
    
    100% {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

@media screen and (max-width: 900px) {
    .text-container {
        justify-content: space-evenly;
    }
}