* {
    box-sizing: border-box;
}

body, div, ul, li, a, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --bg-color: #7bf;
    --cb-color:#fff;
    --dark-color: #48e;
}