* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    --bg-color: #7bf;
    --chat-bg-color:#fff;
    --dark-color: #48e;
}

body, div, ul, li, a, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.chat {
    max-width: clamp(300px, 60%, 900px);
    background-color: var(--chat-bg-color);
    margin: 50px auto;  
    border-radius: 20px;
}

.chat__user {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dark-color);
}

.chat__user img {
    max-width: 2.6rem;
    border-radius: 50%;
    margin: 4px;
}

.chat__content {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.msg {
    background-color: var(--bg-color);
    color: #fff;
    font-size: .6rem;
    padding: 6px;
    border-radius: 9px 9px 9px 0;
    position: relative;
    z-index: 10;
    margin: 6px;
    max-width: clamp(300px, 70%, 600px);
    width: fit-content;
}

.msg::before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: var(--bg-color);
    bottom: -6px;
    left: -3px;
    clip-path: polygon(24% 0, 0% 100%, 100% 65%);
    z-index: -1;
}

.self {
    background-color: var(--dark-color);
    margin-left: auto;
    border-radius: 9px 9px 0px 9px;
}

.self::before {
    background-color: var(--dark-color);
    clip-path: polygon(80% 0, 100% 100%, 0 68%);
    bottom: -6px;
    left: auto;
    right: -4px;
}