* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: sans-serif;
    width: 100%;
    overflow: hidden;
}

.box {
    font-size: 30px;
    width: fit-content;
    padding: 320px;
    background-color: color-mix(in srgb, #f44 100%, #48e 100%);
}
