div {
    padding: 20px;
}

h1::first-letter {
    color: red;
    font-size: 3em;
    letter-spacing: -8px;
}

div::first-line {
    color: red;
}

h1::selection {
    background-color: red;
}

input::placeholder {
    color: green;
    background-color: black;
}

li::marker {
    color: blue;
}

li::before {
    content: "texto antes promedio ";
    color: red;
}

li::after {
    content: "texto posterior promedio ";
    color: greenyellow;
}

